label > input[type="radio"]:checked + img {
  border: 6px solid rgb(56 189 248);
}

.modalFont {
  display: flex;
  width: 100%;
  height: 10%;
  font-family: "Ubuntu-Bold", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2.5vw;
  padding-left: 10%;
  color: #03045e;
}
.imageList-component2 {
  width: 100%;
  position: relative;
  justify-content: center;
  place-items: center;
  margin-top: 3%;
}
.imageList-component {
  display: inline-flex;
  position: relative;
  width: 100%;
  justify-content: center;
  place-items: center;
  margin-top: 4rem;
}
