@font-face {
  font-family: "StardosStencil-Regular";
  src: url("../fonts/StardosStencil-Regular.ttf");
}

@media (max-width: 700px) {
  .conversion {
    font-size: 2rem;
  }
}
.stop {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 47.5%;
  top: 35rem;
  color: white;
}
