@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Poppins_ExtraLight";
  src: url("../fonts/Poppins-ExtraLight.ttf");
}
.navbarbefore {
  display: flex;
  justify-content: flex-start;
  padding-top: 1.5rem;
  padding-left: 12%;
  padding-bottom: 1.5rem;
  background-color: white;
  border-bottom: 3px solid rgba(253, 253, 253, 0.81);
  box-shadow: 0px 2px 3px rgba(44, 44, 44, 0.137);
}
.navbarafter {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  border-bottom: 3px solid rgba(253, 253, 253, 0.81);
  box-shadow: 0px 2px 3px rgba(44, 44, 44, 0.137);
}
.navbar__logo {
  font-size: 40px;
  color: #03045e;
  font-family: "Ubuntu-Bold";
}
.navbar__menu {
  display: flex;
  padding-left: 0;
  color: #03045e;
  font-family: "Ubuntu-Bold";
  font-size: 24px;
}
.navbar__menu li {
  padding: 20px 24px;
}
.navbar__info {
  display: flex;
  font-family: "Ubuntu-Bold";
  font-size: 16px;
  align-items: center;
}
.navbar__button {
  font-size: 16px;
  color: white;
  font-family: "Ubuntu-Bold";
  width: 8rem;
  height: 3rem;
  background-color: #03045e;
  margin-left: 12px;
}
.navbar__toggleBtn {
  display: none;
  position: absolute;
  top: 4%;
  right: 5%;
}
.img {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 900px;
}
.For_Your_PRP {
  margin-top: 18rem;
  margin-left: 12%;
  font-family: "Ubuntu-Bold";
  font-size: 48px;
  color: #03045e;
}
.PRP {
  font-family: "Poppins_ExtraLight";
  font-size: 24px;
}
.For_Your_PRP_button {
  font-size: 16px;
  color: white;
  font-family: "Ubuntu-Bold";
  width: 8rem;
  height: 3rem;
  background-color: rgb(56 189 248);
  margin-top: 1rem;
}
@media all and (max-width: 768px) {
  /*가로 너비가 768px 이하일 때 아래 스타일 적용*/
  .For_Your_PRP {
    margin-top: 4rem;
    margin-left: 12%;
    font-family: "Ubuntu-Bold";
    font-size: 48px;
    color: #03045e;
  }
  .navbarafter {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
  }
  .navbarbefore {
    align-items: flex-start;
    padding: 16px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #03045e;
    font-family: "Ubuntu-Bold";
    font-size: 24px;
    padding-left: 0;
  }
  .navbar__info {
    position: absolute;
    top: 1.5%;
    right: 12%;
  }
  .navbar__button {
    font-size: 12px;
    color: white;
    font-family: "Ubuntu-Bold";
    width: 5rem;
    height: 2rem;
    background-color: #03045e;
  }
  .img {
    display: none;
  }
  .navbar__toggleBtn {
    display: block;
  }
  .navbar__menu__active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #03045e;
    font-family: "Ubuntu-Bold";
    font-size: 24px;
    padding-left: 0;
  }
  .navbar__menu__active li {
    padding: 20px;
  }
}
