@media (max-width: 700px) {
  .Select {
    font-size: 20px;
  }
}
.result {
  /* font-family: "Poppins-Bold"; */
  font-style: normal;
  font-size: 2vw;
  line-height: 55px;
  color: #121fa6;
  margin-right: 20%;
  margin-left: 20%;
  /* margin-top: 3%; */
}
.t {
  font-family: "Poppins-Bold";
}
.c {
  font-family: "Poppins-Regular";
}

/* .wrapResult {
  display: flex;
  align-items: center;
  min-height: 10vh;
  place-items: center;
  padding-top: 2%;
} */

.resultBox {
  border: solid 3px #eeeef4;
  background-color: #eeeef4;
  border-radius: 1.5rem;
  padding: 2rem;
}

.line2 {
  border: solid #121fa6;
  width: 4rem;
  height: 0.5rem;
  background-color: #121fa6;
}
