@font-face {
  font-family: "StardosStencil-Regular";
  src: url("../fonts/StardosStencil-Regular.ttf");
}
@media (max-width: 700px) {
  .Select {
    font-size: 20px;
  }
}
.result {
  font-family: "StardosStencil-Regular", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 55px;
  color: #ffffff;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 3%;
}
.result li {
  margin-bottom: 15%;
}
.wrapResult {
  display: flex;
  align-items: center;
  min-height: 10vh;
  place-items: center;
  margin-top: 2rem;
}
