@media (max-width: 700px) {
  .Select {
    font-size: 20px;
  }
}
.result {
  /* font-family: "Poppins-Bold"; */
  font-style: normal;
  font-size: 2vw;
  line-height: 55px;
  color: #121fa6;
  margin-right: 20%;
  margin-left: 20%;
  /* margin-top: 3%; */
}
.t {
  font-family: "Poppins-Bold";
}
.c {
  font-family: "Poppins-Regular";
}

/* .wrapResult {
  display: flex;
  align-items: center;
  min-height: 10vh;
  place-items: center;
  padding-top: 2%;
} */

.resultBox {
  border: solid 3px #eeeef4;
  background-color: #eeeef4;
  border-radius: 1.5rem;
  padding: 2rem;
}

.line2 {
  border: solid;
  width: 4rem;
  height: 0.5rem;
}

.peopleCnt {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #00bfd2;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
  color: white;
}

.lineColor1 {
  background-color: #00bfd2;
  border: #00bfd2;
}

.lineColor2 {
  background-color: #f8a934;
  border: #f8a934;
}

.lineColor3 {
  background-color: #7aa94b;
  border: #7aa94b;
}
