label > input[type="radio"]:checked + img {
  border: 6px solid #c6c627;
}

.modalFont {
  display: flex;
  width: 80%;
  height: 10%;
  font-family: "StardosStencil-Regular", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2.5vw;
  margin-left: 2rem;
  color: white;
}
