.uploadLabel {
  background-image: url("../../public/images/addImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .uploadLabel > button {
  display: flex;
  width: 30rem;
  left: 0;
} */

.wrapImage {
  display: flex;
  justify-content: center;
  /* padding-top: 2%; */
  padding-bottom: 2%;
}

.box {
  width: 60%;
  /* border: 3px solid rgb(56 189 248); */
  border-radius: 20px;
  background-color: #eeeef4;
}

.pictureList {
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 100px;
  align-items: center;
  padding-left: 5%;
  padding-right: 3%;
  justify-content: space-between;
}

.pictureList1 {
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 180px;
  align-items: center;
  padding-bottom: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
}

.personName span {
  width: 15%;
  display: flex;
  font-size: 2vw;
  color: #121fa6;
  font-family: "Ubuntu-Bold", serif;
  text-align: center;
  align-items: center;
}

.show {
  width: 7vw;
  height: 7vw;
}

.checkbox {
  padding-right: 1rem;
}
.checkbox input.checkbox1 {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 800px) {
  /*  .show {
    display: none;
  } */

  .pictureList {
    /* margin-top: 5%; */
    /* margin-left: -5%; */
  }
  .personName {
    align-items: flex-start;
  }
  .checkbox input.checkbox1 {
    width: 1rem;
    height: 1rem;
  }

  .pictureList1 button {
    width: 2rem;
  }

  .pictureList1 img {
    width: 5rem;
    height: 5rem;
  }
}
