@media screen and (max-width: 800px) {
  .checkbox2 input.checkbox2 {
    width: 1rem;
    height: 1rem;
  }
}

.checkbox2 {
  width: 80%;
  padding-left: 18.5%;
  padding-right: 19%;
}
.checkbox2 input.checkbox2 {
  width: 2rem;
  height: 2rem;
}

.addBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 5%;
  top: 50%;
  width: 6rem;
  height: 6rem;
  border: 3px solid #121fa6;
  border-radius: 20px;
  background-color: #eeeef4;
}
.addBtn {
  /* padding: 10px; */
  display: flex;
  color: #121fa6;
  cursor: pointer;
  flex-direction: column;
  /* height: 4rem;
  width: 4rem; */
  padding-top: 0.5rem;
  background-color: transparent;
  z-index: 1;
  border: 0;
  outline: 0;
  justify-content: center;
  align-items: center;
}
.addBox:hover .addBtn {
  transition: 0.3s;
  background: transparent;
  color: rgb(56 189 248);
  /* box-shadow: inset 0 0 0 36px var(--btn-bg);
  box-shadow: rgba(55, 42, 42, 0.9) 0 0px 0px 2px inset; */
}
.addBox:hover .fontBox {
  transition: 0.3s;
  color: rgb(56 189 248);
}

.addBox:hover {
  transition: 0.3s;
  border: 3px solid rgb(56 189 248);
}

.fontBox {
  font-family: "Poppins_ExtraLight";
  font-size: 1vw;
  color: #020a64;
  justify-content: center;
}

.wrapImage2 {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.box2 {
  width: 70%;
  /* border: 3px solid rgb(56 189 248); */
  border-radius: 20px;
  background-color: #eeeef4;
  display: flex;
  height: 5rem;
  align-items: center;
}

.pictureList2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  align-items: center;
  padding-left: 4.5%;
  padding-right: 5%;
  justify-content: flex-start;
}

.personName2 {
  width: 60rem;
  display: flex;
  font-size: 2.5vw;
  color: #121fa6;
  font-family: "Poppins_ExtraLight";
  text-align: center;
  align-items: center;
}

.personName2 .info {
  font-size: 2vw;
}

/* .tooltip {
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  font-family: "StardosStencil-Regular", serif;
  font-style: normal;
  font-weight: 400;
  text-size-adjust: 5rem;
  background-color: transparent;
} */

.next {
  background: #c7c7cd;
  border-radius: 8px;
  width: 10rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 18px;
  gap: 5px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 20px;
  text-transform: uppercase;
  justify-content: center;
}
.next img {
  display: flex;
  align-items: center;
}

.previous {
  background: #c7c7cd;
  border-radius: 8px;
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 14px 18px;
  gap: 5px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 20px;
  text-transform: uppercase;
  flex-direction: row-reverse;
}
.previous div {
  float: right;
}
.previous img {
  display: flex;
  float: left;
  /* margin-top: 5px; */
  align-items: center;
}

.next:hover {
  background-color: rgb(56 189 248);
}

@media (max-width: 1000px) {
  .next {
    width: 6rem;
    height: 2rem;
    justify-content: center;
    font-size: 1rem;
  }

  .previous {
    width: 6rem;
    height: 2rem;
    justify-content: center;
    font-size: 1rem;
  }

  .next img {
    display: none;
  }

  .previous img {
    display: none;
  }

  .addBox {
    width: 4rem;
    height: 5rem;
  }
}
/* @media ((min-width: 1000px) and (max-width: 1200px)) {
  .next {
    width: 8rem;
    height: 2.5rem;
    justify-content: center;
    font-size: 1.5rem;
  }

  .previous {
    width: 8rem;
    height: 2.5rem;
    justify-content: center;
    font-size: 1.5rem;
  }
  .addBox {
    width: 3rem;
    height: 4rem;
  }
} */
@media (max-width: 800px) {
  .next {
    width: 3rem;
    height: 2rem;
    justify-content: center;
    font-size: 0.3rem;
  }

  .previous {
    width: 3rem;
    height: 2rem;
    justify-content: center;
    font-size: 0.3rem;
  }

  .addBox {
    width: 3rem;
    height: 4rem;
    right: 2%;
  }
}
