@font-face {
  font-family: "StardosStencil-Regular";
  src: url("../fonts/StardosStencil-Regular.ttf");
}

.button1 {
  position: relative;
  top: 60px;
  left: 20%;
  margin: 50px;
  border: none;
  cursor: pointer;
  font-family: "StardosStencil-Regular", sans-serif;
  font-size: var(--button-font-size, 3rem);
  padding: var(--button-padding, 0 20px);
  display: inline-block;
  background-color: transparent;
  color: var(--button-color, white);
}
.button1:hover {
  transition: 0.1s;
  transform: scale(1);
  background-color: "orange";
  color: transparent;
  text-shadow: 2px 2px 3px rgba(219, 109, 36, 0.838);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.button2 {
  position: relative;
  top: 60px;
  left: 20%;
  margin: 50px;
  border: none;
  cursor: pointer;
  font-family: "StardosStencil-Regular", sans-serif;
  font-size: var(--button-font-size, 3rem);
  padding: var(--button-padding, 0 20px);
  display: inline-block;
  background-color: transparent;
  color: var(--button-color, #ffffff);
}
.button2:hover {
  transition: 0.1s;
  transform: scale(1);
  background-color: "orange";
  color: transparent;
  text-shadow: 2px 2px 3px rgba(219, 109, 36, 0.838);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.button3 {
  position: relative;
  top: 60px;
  left: 20%;
  margin: 50px;
  border: none;
  cursor: pointer;
  font-family: "StardosStencil-Regular", sans-serif;
  font-size: var(--button-font-size, 3rem);
  padding: var(--button-padding, 0 20px);
  display: inline-block;
  background-color: transparent;
  color: var(--button-color, #ffffff);
}
.button3:hover {
  transition: 0.1s;
  transform: scale(1);
  background-color: "orange";
  color: transparent;
  text-shadow: 2px 2px 3px rgba(219, 109, 36, 0.838);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.hr3 {
  position: absolute;
  margin: auto;
  width: 61%;
  height: 0px;
  left: 22%;
  top: 170px;
  background-color: white;
  border: 3px solid #fffcfc;
}
