.button {
  width: 16.125rem;
  height: 5.125rem;
  padding: 0.938rem 4.563rem;
  font-size: 2.1rem;
  font-family: "StardosStencil-Regular";
  text-align: center;
  border: solid 1px var(--black);
  background-color: brown;
}
