/* @media screen and (max-width: 700px) {
  .navButton {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
/* @media를 사용하여 반응형으로 바꿈 -> screen넓이가 최대 700px까지 코드 사용 

.navButton {
  position: relative;
  padding-left: 0;
  padding-top: 1em;
  border: none;
  cursor: pointer;
  display: flex;
  text-align: center;
}
.navButton:hover {
  transition: 0.1s;
  transform: scale(1);
  background-color: "orange";
  color: transparent;
  text-shadow: 2px 2px 3px rgba(219, 109, 36, 0.838);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}*/
.active {
  color: red;
}

/* .nav-container {  //상단에 고정시킴
  position: fixed;
  top: 0;
}
header {
  margin-top: 10px;
} */
