@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Poppins_ExtraLight";
  src: url("../fonts/Poppins-ExtraLight.ttf");
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}
.signupA,
.signupA:visited {
  color: rgb(56 189 248);
}
.signupA:hover {
  color: rgb(125 211 252);
}

.signupInput[type="text"],
.signupInput[type="password"],
textarea {
  font-family: "Poppins_ExtraLight";
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 2px solid rgb(56 189 248);
}

.signupLabel {
  margin-top: 1rem;
}

.signupButton {
  font-family: "Ubuntu-Bold";
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  padding: 0.5rem;
}

.checkButton {
  width: 20%;
  height: 10%;
  font-size: 1rem;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
  background-color: rgb(56 189 248);
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.5rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.checkmsg {
  font-family: "Ubuntu-Bold";
  color: black;
  font-weight: bold;
}

.line {
  display: inline-block;
}
@media all and (min-width: 1200px) {
  /*가로 너비가 1200px 이상일 때 아래 스타일 적용*/
  .signupSection {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 100%;
    max-width: 480px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    border: 4px solid #03045e;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
  /*가로 너비가 1024px 이상일 때 아래 스타일 적용*/

  .signupSection {
    position: absolute;
    top: 15%;
    right: 5%;
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  /*가로 너비가 768~1023px일 때 아래 스타일 적용*/

  .signupSection {
    position: absolute;
    top: 15%;
    right: 5%;
    width: 100%;
    max-width: 320px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
  }
}

@media all and (max-width: 767px) {
  /*가로 너비가 767px 이하일 때 아래 스타일 적용*/
  .signupSection {
    width: 100%;
    margin: 5% auto;
    max-width: 640px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
  }
}
