.signupSection {
  width: 100%;
  max-width: 640px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}
.signupA,
.signupA:visited {
  color: #92400e;
}

.signupInput[type="text"],
.signupInput[type="password"],
textarea {
  font-family: "StardosStencil-Regular";
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.signupLabel {
  margin-top: 1rem;
}

.signupButton {
  font-family: "StardosStencil-Regular";
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  padding: 1rem;
}

.checkButton {
  width: 20%;
  height: 10%;
  font-size: 1rem;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.5rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.checkmsg {
  font-family: "StardosStencil-Regular";
  color: black;
  font-weight: bold;
}

.line {
  display: inline-block;
}
