.title-component {
  color: #303038;
  font-family: "Ubuntu-Bold", serif;
  text-align: center;
  text-underline-position: under;
  font-size: 4vw;
  width: 100%;
  padding-bottom: 3%;
  justify-content: center;
  display: flex;
  align-content: center;
}
@media screen and (max-width: 800px) {
  .title-component {
    justify-content: center;
  }
}
