.title-component {
  color: #ffffff;
  font-family: "StardosStencil-Regular", serif;
  text-align: center;
  text-decoration: overline underline;
  text-underline-position: under;
  font-size: 4vw;
}
