.tooltip {
  width: 17rem;
  display: inline-flex;
  /* position: relative; */
  color: #6246ea;
  font-weight: bold;
  /* justify-content: center; */
  align-content: center;
  margin-left: 3rem;
}
/* .tooltip-text {
  width: 20rem;
  height: 5rem;
} */
.tooltip .tooltip-text {
  display: none;
  z-index: 1;
  max-width: 50rem;
  border-radius: 5px;
  height: 60%;
  padding: 5px;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  background: #dadada;
  align-content: center;
  padding-top: 0.5rem;
}
.tooltip:hover .tooltip-text {
  display: block;
  width: 20rem;
}
.icon_tooltip {
  width: 3rem;
  color: #767093;
}
