.tooltip {
  position: absolute;
  top: 6%;
  right: 3%;
  width: 15rem;
  font-size: 4vw;
  display: inline-block;
  /* position: relative; */
  color: #767093;
  font-weight: bold;
  /* justify-content: center; */
  align-content: center;
  margin-left: 2rem;
}

/* .tooltip-text {
  width: 20rem;
  height: 5rem;
} */
.tooltip .tooltip-text,
.tooltip .tooltip-text .div {
  display: none;
  z-index: 1;
  max-width: 20rem;
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 0.8vw;
  color: rgb(255, 255, 255);
  background: #767093;
  align-content: center;
  padding-top: 0.5rem;
}
.tooltip:hover .tooltip-text,
.tooltip:hover .tooltip-text .div {
  display: flex;
}
.icon_tooltip {
  width: 3rem;
  color: #767093;
}

@media screen and (max-width: 800px) {
  .tooltip {
    width: 10rem;
    margin-left: 0;
  }
}
